<div class="row">
    <div class="col-md-6">
      <nb-card>
        <nb-card-header>Login</nb-card-header>
        <nb-card-body>
          <form #loginForm="ngForm" class="form-horizontal" (ngSubmit) ="onSubmit(loginForm)" >
            <div class="form-group row">
              <label for="username" class="label col-sm-3 form-control-label">Username</label>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth [(ngModel)]="username" name="username" id="username" placeholder="Employee Code" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="password" class="label col-sm-3 form-control-label">Password</label>
              <div class="col-sm-9">
                <input type="password" nbInput fullWidth [(ngModel)]="password" name="password" id="password" placeholder="Password" required>
              </div>
            </div>
            
            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <button type="submit" nbButton status="warning" [disabled]="loginForm.invalid">Sign in</button>
              </div>
            </div>
            <div class="form-group">
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="loginForm.submitted && isLoginFailed"
                >
                  Login failed: {{ errorMessage }}
                </div>
              </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <p>{{formStatus}}</p>