<nb-card>
  <div class="row">
    <div class="col-12 col-md-8">
      <nb-select
        class="form-select"
        [(ngModel)]="selected"
        aria-label="Default select example"
      >
        <nb-option selected>Open this select menu</nb-option>
        <nb-option value="1">One</nb-option>
        <nb-option value="2">Two</nb-option>
        <nb-option value="3">Three</nb-option>
      </nb-select>
    </div>
    <div class="col-6 col-md-4">
      <button nbButton medium hero status="primary">hi</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8">
      {{selected}}
    </div>
    <div class="col-6 col-md-4">
    </div>
  </div>
</nb-card>
